*.a
*.o
*.lo
*.la
*.slo
.deps
Makefile
Makefile.in

/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/missing
/displaytest-*.tar.gz
/stamp-h1
/libtool
/ltmain.sh
/compile

/src/examples/rgb-example
/src/examples/blackmagic-test
/src/examples/capture
